{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="flex items-center justify-center relative  bg-[url('../../assets/images/hero/bg3.html')] bg-no-repeat bg-center bg-cover">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
    <div class="container">
        <div style="display: flex; justify-content: center;" class="mt-20"> 
            <div class="relative  bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md" style="width: 430px">
                <div class="p-6">
                    <h5 class="text-xl font-semibold">Education</h5>   
                    {% if update_education %} 
                    {% for i in update_education %}
                    <form action="{% url 'update_education' i.id %}" method="post" class="text-left">
                        {% csrf_token %}
                        <div class="grid grid-cols-1">
                            <div class="mb-4 ltr:text-left rtl:text-right mt-3">
                                <label class="font-semibold" for="RegisterName">Institute name:</label>
                                <input id="RegisterName" type="text" class="form-input mt-1 rounded-md" name="institute_name" placeholder="{{i.institute_name}}" value="{{i.institute_name}}">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Course:</label>
                                <input id="RegisterName" type="text" class="form-input mt-1 rounded-md" name="course" placeholder="{{i.course}}" value="{{i.course}}">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Grade:</label>
                                <input id="RegisterName" type="text" class="form-input mt-1 rounded-md" name="grade" placeholder="{{i.grade}}" value="{{i.grade}}">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Subject:</label>
                                <input id="RegisterName" type="text" class="form-input mt-1 rounded-md" name="subject" placeholder="{{i.subject}}" value="{{i.subject}}">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Start Data:</label>
                                <input id="RegisterName" type="month" class="form-input mt-1 rounded-md" name="start_date" placeholder="{{i.start_date}}" value="{{i.start_date}}">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">End Data:</label>
                                <input id="RegisterName" type="month" class="form-input mt-1 rounded-md" name="end_date" placeholder="{{i.end_date}}" value="{{i.end_date}}">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Activity:</label>
                                <input type="text" class="form-input mt-1 rounded-md" name="activity"  placeholder="{{i.activities}}" value="{{i.activities}}">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Description:</label>
                                <input type="text" class="form-input mt-1 rounded-md" name="description"  placeholder="{{i.description}}" value="{{i.description}}">
                            </div>

                            <div class="mb-7">
                                <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Submit">
                            </div>
                        </div>
                    </form>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section><!--end section -->

{% endblock %}