{% if skill_language %}
{% for key, value in skill_language.items %}
<h4 class="mt-6 text-xl font-semibold">
    {% if key == "skill" %}
        Skills
    {% else %}
        Language 
    {% endif %}
     : <a href="
    {% if key == 'skill' %}
        {% url 'skill' %}
    {% else %}
        {% url 'language' %}
    {% endif %}
     "><i class="uil uil-file-edit-alt"  style="display:inline-block; float:right;"></i></a></h4>
    {% if value %}
        {% for i in value %}
            <div class="grid lg:grid-cols-3 grid-cols-3 mt-3">
                <div class="ltr:ml-4 rtl:mr-4">
                    <div class="flex justify-between ">
                        <h6 class="text-lg font-medium mb-0">
                            {% if key == "skill" %}
                                {{i.skill_id.name}} <a href="{% url 'delete_skill' i.id %}"><span></span><i class="uil uil-file-edit-alt"  style="display:inline-block; float:right; "></i></a>
                            {% else %}
                              <span> {{ i.language_id.name }}  <a href="{% url 'delete_language' i.id %}"><i class="uil uil-file-edit-alt"  style="display:inline-block; float:right; "></i></a>
                                <p class="text-slate-400">({{i.proficiency}})</p></span>   
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
{% endif %}

