{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="relative lg:mt-24 mt-[74px]">
    {% if candidatedetail %}
    {% for i in candidatedetail%}
    <div class="lg:container container-fluid">
        <div class="relative shrink-0">
            <img src="{{ i.bg_img.url }}" class="h-64 w-full object-cover lg:rounded-xl shadow dark:shadow-gray-700" alt="">
        </div>
        <div class="md:flex ltr:ml-4 rtl:mr-4 -mt-12">
            <div class="md:w-full">
                <div class="relative flex items-end">
                    <img src="{{ i.profile_img.url }}" class="h-28 w-28 rounded-full shadow dark:shadow-gray-800 ring-4 ring-slate-50 dark:ring-slate-800" alt="">
                    <div class="ltr:ml-4 rtl:mr-4">
                        <h5 class="text-lg font-semibold">{{ i.headline }}</h5>
                        <p class="text-slate-400">{{i.industry}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end -->
    {% endfor %}
    {% endif %}
</section>
<!-- End Hero -->

<!-- Start -->
<section class="relative mt-12 md:pb-24 pb-16">
    <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
            <div class="lg:col-span-8 md:col-span-7">
                {% if candidatedetail %}
                {% for i in candidatedetail%}
                <h5 class="text-xl font-semibold">{{i.user_id.username}}</h5>
                <p class="text-slate-400 mt-4">{{i.description}}</p>
                {% endfor %}
                {% endif %}
                
                {% include 'candidate/partials/_skill_language.html' %}

                {% include 'candidate/partials/_education_experience.html' %}

                {% include 'candidate/partials/_project_cource.html' %}
                
            </div><!--end col-->

            {% if candidatedetail %}
            {% for i in candidatedetail%}
            <div class="lg:col-span-4 md:col-span-5">
                <div class="bg-slate-50 dark:bg-slate-800 rounded-md shadow dark:shadow-gray-700 p-6 sticky top-20">
                    <h5 class="text-lg font-semibold">Personal Detail:</h5>
                    <ul class="list-none mt-4">
                        <li class="flex justify-between mt-3 items-center font-medium">
                            <span><i data-feather="mail" class="h-4 w-4 text-slate-400 ltr:mr-3 rtl:ml-3 inline"></i><span class="text-slate-400 ltr:mr-3 rtl:ml-3">Email  :</span></span>
                            
                            <span>{{i.user_id.email}}</span>
                        </li>
                        <li class="flex justify-between mt-3 items-center font-medium">
                            <span><i data-feather="gift" class="h-4 w-4 text-slate-400 ltr:mr-3 rtl:ml-3 inline"></i><span class="text-slate-400 ltr:mr-3 rtl:ml-3">D.O.B. :</span></span>
                            
                            <span>{{i.date_of_birth}}</span>
                        </li>
                        <li class="flex justify-between mt-3 items-center font-medium">
                            <span><i data-feather="home" class="h-4 w-4 text-slate-400 ltr:mr-3 rtl:ml-3 inline"></i><span class="text-slate-400 ltr:mr-3 rtl:ml-3">Address :</span></span>
                            
                            <span>{{i.address}}</span>
                        </li>
                        <li class="flex justify-between mt-3 items-center font-medium">
                            <span><i data-feather="map-pin" class="h-4 w-4 text-slate-400 ltr:mr-3 rtl:ml-3 inline"></i><span class="text-slate-400 ltr:mr-3 rtl:ml-3">City :</span></span>
                            
                            <span>{{i.location_id.city}}</span>
                        </li>
                        <li class="flex justify-between mt-3 items-center font-medium">
                            <span><i data-feather="globe" class="h-4 w-4 text-slate-400 ltr:mr-3 rtl:ml-3 inline"></i><span class="text-slate-400 ltr:mr-3 rtl:ml-3">Country :</span></span>
                            
                            <span>{{i.location_id.country}}</span>
                        </li>
                        <li class="flex justify-between mt-3 items-center font-medium">
                            <span><i data-feather="server" class="h-4 w-4 text-slate-400 ltr:mr-3 rtl:ml-3 inline"></i><span class="text-slate-400 ltr:mr-3 rtl:ml-3">Postal Code :</span></span>
                            
                            <span>{{i.zip_code}}</span>
                        </li>
                        <li class="flex justify-between mt-3 items-center font-medium">
                            <span><i data-feather="phone" class="h-4 w-4 text-slate-400 ltr:mr-3 rtl:ml-3 inline"></i><span class="text-slate-400 ltr:mr-3 rtl:ml-3">Mobile :</span></span>
                            
                            <span>{{i.phone_no}}</span>
                        </li>

                        <li class="mt-3 w-full bg-white p-3 rounded-md shadow dark:shadow-gray-700">
                            <div class="flex items-center mb-3">
                                <i data-feather="file-text" class="h-8 w-8 text-slate-400"></i>
                                <span class="font-medium ltr:ml-2 rtl:mr-2">{{i.resume}}</span>
                            </div>

                            <a href="{{i.resume}}" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 dark:border-emerald-600 text-white rounded-md w-full" download><i class="uil uil-file-download-alt"></i> Download CV</a>
                        </li>
                    </ul>
                </div>
            </div><!--end col-->
            {% endfor %}
            {% endif %}
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- Start -->
{% endblock %}