{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="flex items-center justify-center relative  bg-[url('../../assets/images/hero/bg3.html')] bg-no-repeat bg-center bg-cover">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
    <div class="container">
        <div style="display: flex; justify-content: center;" class="mt-20">
            <div class="relative  bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md" style="width:350px">
                <div class="p-6">
                    <h5 class="text-xl font-semibold">Cource</h5>
                    <form action="https://shreethemes.in/jobstack/layouts/signup-success.html" class="text-left">
                        <div class="grid grid-cols-1">
                            <div class="mb-4 ltr:text-left rtl:text-right mt-3">
                                <label class="font-semibold" for="RegisterName">Name:</label>
                                <input id="RegisterName" type="text" class="form-input mt-1 rounded-md" placeholder="Languege">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Description:</label>
                                <input type="text" class="form-input mt-1 rounded-md">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Associate:</label>
                                <input type="text" class="form-input mt-1 rounded-md">
                            </div>

                            <div class="mb-7">
                                <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!--end section -->

{% endblock %}