{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="flex items-center justify-center relative  bg-[url('../../assets/images/hero/bg3.html')] bg-no-repeat bg-center bg-cover">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
    <div class="container">
        <div style="display: flex; justify-content: center;" class="mt-20">
            <div class="relative  bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md" style="width: 430px">
                <div class="p-6">
                    <h5 class="text-xl font-semibold">Experience</h5>
                    <form action="https://shreethemes.in/jobstack/layouts/signup-success.html" class="text-left">
                        <div class="grid grid-cols-1">
                            <div class="mb-4 ltr:text-left rtl:text-right mt-3">
                                <label class="font-semibold" for="RegisterName">Company name:</label>
                                <input id="RegisterName" type="text" class="form-input mt-1 rounded-md" placeholder="Languege">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Job Title:</label>
                                <input id="RegisterName" type="text" class="form-input mt-1 rounded-md" placeholder="Languege">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="LoginEmail">Job type:</label>
                                <select id="LoginEmail" name="LoginEmail" class="form-input mt-1 rounded-md form-select fa-caret-down">
                                    <option value="full-time">full-time</option>
                                    <option value="part-time">part-time</option>
                                    <option value="self-employed">self-employed</option>
                                    <option value="frelance">frelance</option>
                                    <option value="internship">internship</option>
                                    <option value="contract">contract</option>
                                </select>
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Location:</label>
                                <input type="int" class="form-input mt-1 rounded-md" placeholder="Location">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="LoginEmail">Workplace type:</label>
                                <select id="LoginEmail" name="LoginEmail" class="form-input mt-1 rounded-md form-select fa-caret-down">
                                    <option value="on-site">on-site</option>
                                    <option value="hybrid">hybrid</option>
                                    <option value="remote">remote</option>
                                </select>
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Start Data:</label>
                                <input id="RegisterName" type="month" class="form-input mt-1 rounded-md" placeholder="Languege">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">End Data:</label>
                                <input id="RegisterName" type="month" class="form-input mt-1 rounded-md" placeholder="Languege">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <input type="checkbox" name="vehicle1" value="Bike">
                                <label for="vehicle1"> Currently working</label><br>
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Description:</label>
                                <input type="text" class="form-input mt-1 rounded-md">
                            </div>

                            <div class="mb-7">
                                <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!--end section -->

{% endblock %}
