{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="h-screen flex items-center justify-center relative overflow-hidden bg-[url('../../assets/images/hero/bg3.html')] bg-no-repeat bg-center bg-cover">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
    <div class="container">
        <div style="display: flex; justify-content: center;">
            <div class="relative overflow-hidden bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md">
                <div class="p-6">
                    <a href="#">
                        <img src="assets/images/logo-dark.png" class="mx-auto h-[24px] block dark:hidden" alt="">
                        <img src="assets/images/logo-light.png" class="mx-auto h-[24px] dark:block hidden" alt="">
                    </a>
                    <h5 class="my-6 text-xl font-semibold">User Language</h5>
                    <form action="https://shreethemes.in/jobstack/layouts/signup-success.html" class="text-left">
                        <div class="grid grid-cols-1">
                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Languege:</label>
                                <input id="RegisterName" type="text" class="form-input mt-3 rounded-md" placeholder="Languege">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="LoginEmail">Proficiency:</label>
                                <select id="LoginEmail" name="LoginEmail" class="form-input mt-3 rounded-md form-select fa-caret-down">
                                    <option value="elementary">elementary</option>
                                    <option value="professional working">professional working</option>
                                    <option value="native">native</option>
                                </select>
                            </div>

                            <div class="mb-4">
                                <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Register">
                            </div>

                        </div>
                    </form>
                </div>
                
        
            </div>
        </div>
    </div>
</section><!--end section -->

{% endblock %}