{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="flex items-center justify-center relative  bg-[url('../../assets/images/hero/bg3.html')] bg-no-repeat bg-center bg-cover">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
    <div class="container">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
            <div class="relative  bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md">
                <div class="p-6">
                    <a href="#">
                        <img src="assets/images/logo-dark.png" class="mx-auto h-[24px] block dark:hidden" alt="">
                        <img src="assets/images/logo-light.png" class="mx-auto h-[24px] dark:block hidden" alt="">
                    </a>
                    <h5 class="my-6 text-xl font-semibold">Projects</h5>
                    <form action="https://shreethemes.in/jobstack/layouts/signup-success.html" class="text-left">
                        <div class="grid grid-cols-1">
                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Experiance id:</label>
                                <input id="RegisterName" type="search" class="form-input mt-3 rounded-md">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Name:</label>
                                <input id="RegisterName" type="text" class="form-input mt-3 rounded-md">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <input type="checkbox" name="vehicle1" value="Bike">
                                <label for="vehicle1"> Currently working</label><br>
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Start Data:</label>
                                <input id="RegisterName" type="month" class="form-input mt-3 rounded-md">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">End Data:</label>
                                <input id="RegisterName" type="month" class="form-input mt-3 rounded-md">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Associate:</label>
                                <input type="text" class="form-input mt-3 rounded-md">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Project Urls:</label>
                                <input type="url" class="form-input mt-3 rounded-md">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Description:</label>
                                <input type="text-area" class="form-input mt-3 rounded-md">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="LoginEmail">Workplace type:</label>
                                <select id="LoginEmail" name="LoginEmail" class="form-input mt-3 rounded-md form-select fa-caret-down">
                                    <option value="on-site">on-site</option>
                                    <option value="hybrid">hybrid</option>
                                    <option value="remote">remote</option>
                                </select>
                                  
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Role:</label>
                                <input type="text" class="form-input mt-3 rounded-md">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Role description:</label>
                                <input type="text" class="form-input mt-3 rounded-md">
                            </div>
                            
                            <div class="mb-4">
                                <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Submit">
                            </div>

                            <div class="text-center">
                                <span class="text-slate-400 me-2">Already have an account ? </span> <a href="login.html" class="text-black dark:text-white font-bold">Sign in</a>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="px-6 py-2 bg-slate-50 dark:bg-slate-800 text-center">
                    <p class="mb-0 text-gray-400 font-medium">© <script>document.write(new Date().getFullYear())</script> Jobstack. Designed by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section><!--end section -->

{% endblock %}