{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="flex items-center justify-center relative  bg-[url('../../assets/images/hero/bg3.html')] bg-no-repeat bg-center bg-cover">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
    <div class="container">
        <div style="display: flex; justify-content: center;" class="mt-20">
            <div class="relative  bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md" style="width: 430px">
                <div class="p-6">
                    <h5 class="text-xl font-semibold">Experience</h5>
                    <form action="{% url 'experiance' %}" method="post" class="text-left">
                        {% csrf_token %}
                        <div class="grid grid-cols-1">
                            <div class="mb-4 ltr:text-left rtl:text-right mt-3">
                                <label class="font-semibold" for="RegisterName">Company name:</label>
                                {{ form.company_name }}
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Job Title:</label>
                                {{ form.job_title }}
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="LoginEmail">Job type:</label>
                                {{ form.job_type }}
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">State:</label>
                                {{ form.state }}
                                <datalist id="states" name="data_location">
                                    {% for i in states %}
                                        <option value="{{i}}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">City:</label>
                                {{ form.city }}
                                {% for error in form.city.errors %}
                                    <small style="color: red">{{ error }}</small>
                                {% endfor %}
                                <datalist id="cities" name="data_location">
                                    {% for i in cities %}
                                        <option value="{{i}}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="LoginEmail">Workplace type:</label>
                                {{ form.workplace_type }}
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Start Data:</label>
                                {{form.start_date}}
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">End Data:</label>
                                {{form.end_date}}
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                {{form.currently_working }} Currently working
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Description:</label>
                                {{form.description}}
                            </div>

                            <div class="mb-7">
                                <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!--end section -->

{% endblock %}
