{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if 'signup' in request.path %}
<section class="h-screen flex items-center justify-center relative overflow-hidden bg-[url('../../assets/images/hero/bg3.html')] bg-no-repeat bg-center bg-cover">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
    
    <div class="container">
        <div style="display: flex; justify-content: center;">
            <div class="relative overflow-hidden bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md" style="width: 40%">
                <div class="p-6">
                    <a href="#">
                        <img src="{% static 'assets/images/logo-dark.png' %}" class="mx-auto h-[24px] block dark:hidden" alt="">
                        <img src="{% static 'assets/images/logo-light.png' %}" class="mx-auto h-[24px] dark:block hidden" alt="">
                    </a>
                    <h5 class="my-6 text-xl font-semibold">Signup</h5>
                    <form action="https://shreethemes.in/jobstack/layouts/signup-success.html" class="text-left">
                        <div class="grid grid-cols-1">
                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Your Name:</label>
                                <input id="RegisterName" type="text" class="form-input mt-3 rounded-md" placeholder="Harry">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="LoginEmail">Email Address:</label>
                                <input id="LoginEmail" type="email" class="form-input mt-3 rounded-md" placeholder="name@example.com">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="LoginPassword">Password:</label>
                                <input id="LoginPassword" type="password" class="form-input mt-3 rounded-md" placeholder="Password:">
                            </div>

                            <div class="mb-4">
                                <div class="flex items-center w-full mb-0">
                                    <input class="form-checkbox text-emerald-600 rounded w-4 h-4 ltr:mr-2 rtl:ml-2 border border-inherit" type="checkbox" value="" id="AcceptT&C">
                                    <label class="form-check-label text-slate-400" for="AcceptT&C">I Accept <a href="#" class="text-emerald-600">Terms And Condition</a></label>
                                </div>
                            </div>

                            <div class="mb-4">
                                <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Register">
                            </div>

                            <div class="text-center">
                                <span class="text-slate-400 me-2">Already have an account ? </span> <a href="{% url 'login' %}" class="text-black dark:text-white font-bold">Sign in</a>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="px-6 py-2 bg-slate-50 dark:bg-slate-800 text-center">
                    <p class="mb-0 text-gray-400 font-medium">© <script>document.write(new Date().getFullYear())</script> Jobstack. Designed by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section><!--end section -->
{% endif %}
{% if 'login' in request.path %}
<section class="h-screen flex items-center justify-center relative overflow-hidden bg-[url('../../assets/images/hero/bg3.html')] bg-no-repeat bg-center bg-cover">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
    <div class="container">
        <div style="display: flex; justify-content: center;">
            <div class="relative overflow-hidden bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md" >
                <div class="p-6">
                    <a href="#">
                        <img src="{% static 'assets/images/logo-dark.png' %}" class="mx-auto h-[24px] block dark:hidden" alt="">
                        <img src="{% static 'assets/images/logo-light.png' %}" class="mx-auto h-[24px] dark:block hidden" alt="">
                    </a>
                    <h5 class="my-6 text-xl font-semibold">Login</h5>
                    <form class="text-left">
                        <div class="grid grid-cols-1">
                            <div class="mb-4 ltr:text-left rtl:text-right">
                                    <label class="font-semibold" for="LoginEmail">Email Address:</label>
                                <input id="LoginEmail" type="email" class="form-input mt-3 rounded-md" placeholder="name@example.com">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                    <label class="font-semibold" for="LoginPassword">Password:</label>
                                <input id="LoginPassword" type="password" class="form-input mt-3 rounded-md" placeholder="Password:">
                            </div>

                            <div class="flex justify-between mb-4">
                                <div class="inline-flex items-center">
                                    <input class="form-checkbox text-emerald-600 rounded w-4 h-4 ltr:mr-2 rtl:ml-2 border border-inherit" type="checkbox" value="" id="Rememberme">
                                    <label class="form-check-label text-slate-400" for="Rememberme">Remember me</label>
                                </div>
                                <p class="text-slate-400 mb-0"><a href="{% url 'reset-password' %}" class="text-slate-400">Forgot password ?</a></p>
                            </div>

                            <div class="mb-4">
                                <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Login / Sign in">
                            </div>

                            <div class="text-center">
                                <span class="text-slate-400 me-2">Don't have an account ?</span> <a href="{% url 'signup' %}" class="text-black dark:text-white font-bold">Sign Up</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="px-6 py-2 bg-slate-50 dark:bg-slate-800 text-center">
                    <p class="mb-0 text-gray-400 font-medium">© <script>document.write(new Date().getFullYear())</script> Jobstack. Designed by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section><!--end section -->
{% endif %}

{% if 'reset-password' in request.path %}
<section class="h-screen flex items-center justify-center relative overflow-hidden bg-[url('../../assets/images/hero/bg3.html')] bg-no-repeat bg-left-bottom bg-cover">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
    <div class="container">
        <div style="display: flex; justify-content: center;">
            <div class="relative overflow-hidden bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md" style="width: 35%">
                <div class="p-6">
                    <a href="#">
                        <img src="{% static 'assets/images/logo-dark.png' %}" class="mx-auto h-[24px] block dark:hidden" alt="">
                        <img src="{% static 'assets/images/logo-light.png' %}" class="mx-auto h-[24px] dark:block hidden" alt="">
                    </a>
                    <h5 class="my-6 text-xl font-semibold">Reset Your Password</h5>
                    <div class="grid grid-cols-1">
                        <p class="text-slate-400 mb-6">Please enter your email address. You will receive a link to create a new password via email.</p>
                        <form class="text-left">
                            <div class="grid grid-cols-1">
                                <div class="mb-4 ltr:text-left rtl:text-right">
                                    <label class="font-semibold" for="LoginEmail">Email Address:</label>
                                    <input id="LoginEmail" type="email" class="form-input mt-3 rounded-md" placeholder="name@example.com">
                                </div>

                                <div class="mb-4">
                                    <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Send">
                                </div>

                                <div class="text-center">
                                    <span class="text-slate-400 me-2">Remember your password ? </span><a href="{% url 'login' %}" class="text-black dark:text-white font-bold">Sign in</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="px-6 py-2 bg-slate-50 dark:bg-slate-800 text-center">
                    <p class="mb-0 text-gray-400 font-medium">© <script>document.write(new Date().getFullYear())</script> Jobstack. Designed by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section><!--end section -->
{% endif %}
{% endblock %}